## List in Python

In [1]:
print([10,20,30])

[10, 20, 30]

In [2]:
l1 = [10,20,30,40,50]
print(l1)

[10, 20, 30, 40, 50]

In [3]:
l2 = ['Ram','Shyam','Vivek','Vikas']
print(l2)

['Ram', 'Shyam', 'Vivek', 'Vikas']

In [4]:
l3 = [1.5,2.2,3.3,4.5,6.3]
print(l3)

[1.5, 2.2, 3.3, 4.5, 6.3]

In [5]:
l4 = [True, True, False, False]
print(l4)

[True, True, False, False]

In [6]:
l5 = ["Vikas",10,20,[30,40],10.5,50.6]
print(l5)

['Vikas', 10, 20, [30, 40], 10.5, 50.6]

In [7]:
empty = []
print(empty)

[]

In [8]:
l6 = list([10,20,30,40,50])
print(l6)

[10, 20, 30, 40, 50]

## List Traversal

In [10]:
l1 = [10,20,30,40,50,60,70]

for i in l1:
    print(i, end=',')

10,20,30,40,50,60,70,

In [13]:
for i in range(len(l1)):
    print(l1[i], end=' ')

10 20 30 40 50 60 70

## List - Access, Update & Insert Operations

In [25]:
l1 = [10,20,30,40,50,60]
print(l1)

[10, 20, 30, 40, 50, 60]

In [27]:
print(l1[0])
print(l1[1])

10
20

In [33]:
print(l1[len(l1)-3])
print(l1[-3])

40
40

In [34]:
## Update
l1

[10, 20, 30, 40, 50, 60]

In [35]:
l1[1] = 24

In [36]:
print(l1)

[10, 24, 30, 40, 50, 60]

In [37]:
l1[-1] = 66
print(l1)

[10, 24, 30, 40, 50, 66]

In [38]:
l1

[10, 24, 30, 40, 50, 66]

In [39]:
l1 = [10,20,30,40,50,60]
print(l1)

[10, 20, 30, 40, 50, 60]

In [40]:
## Insert 1. append() 2. insert() 3. extend()

In [41]:
l1.append(70)

In [42]:
l1

[10, 20, 30, 40, 50, 60, 70]

In [43]:
l1.append(80)

In [44]:
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80]

In [45]:
l1.insert(2,24)

In [46]:
l1

[10, 20, 24, 30, 40, 50, 60, 70, 80]

In [47]:
l1.insert(6,24)

In [48]:
l1

[10, 20, 24, 30, 40, 50, 24, 60, 70, 80]

In [49]:
l1 = [10,20,30]
print(l1)

[10, 20, 30]

In [50]:
l2 = [50,60,70]
print(l2)

[50, 60, 70]

In [51]:
l1.extend(l2)

In [52]:
print(l1)

[10, 20, 30, 50, 60, 70]

## List - Slice, Delete and Search

In [18]:
l1 = ["Suresh","Ramesh","Vikas","Vivek","Vinay","Vijay"]
print(l1)

['Suresh', 'Ramesh', 'Vikas', 'Vivek', 'Vinay', 'Vijay']

In [22]:
l1[:]
l1[0:3]
l1[:3]
l1[2:6]

['Vikas', 'Vivek', 'Vinay', 'Vijay']

In [24]:
l1[1:]
l1[3:]

['Vivek', 'Vinay', 'Vijay']

In [26]:
l1[1:-2]

['Ramesh', 'Vikas', 'Vivek']

In [27]:
## Delete
l1 = ["Suresh","Ramesh","Vikas","Vivek","Vinay","Vijay"]
print(l1)

['Suresh', 'Ramesh', 'Vikas', 'Vivek', 'Vinay', 'Vijay']

In [28]:
l1.pop()

'Vijay'

In [29]:
l1

['Suresh', 'Ramesh', 'Vikas', 'Vivek', 'Vinay']

In [30]:
l1.pop(2)

'Vikas'

In [31]:
l1

['Suresh', 'Ramesh', 'Vivek', 'Vinay']

In [32]:
l1 = ["Suresh","Ramesh","Vikas","Vivek","Vinay","Vijay"]
print(l1)

['Suresh', 'Ramesh', 'Vikas', 'Vivek', 'Vinay', 'Vijay']

In [35]:
del l1[-1]

In [36]:
l1

['Suresh', 'Vikas', 'Vivek', 'Vinay']

In [37]:
l1 = ["Suresh","Ramesh","Vikas","Vivek","Vinay","Vijay"]
print(l1)

['Suresh', 'Ramesh', 'Vikas', 'Vivek', 'Vinay', 'Vijay']

In [38]:
l1.remove('Vivek')

In [39]:
l1

['Suresh', 'Ramesh', 'Vikas', 'Vinay', 'Vijay']

In [40]:
l1.remove('Ramesh')

In [41]:
l1

['Suresh', 'Vikas', 'Vinay', 'Vijay']

In [46]:
## Search Operation
l2 = [10,20,30,40,50,60,70,80,90]
print(l2)
val = 100
if val in l2:
    print("Index of "+str(val)+" is "+str(l2.index(val))+".")
else:
    print("The value does not exist.")

[10, 20, 30, 40, 50, 60, 70, 80, 90]
The value does not exist.

In [51]:
## Linear Search
def searchList(list, val):
    for i in list:
        if i == val:
            return "Index of "+str(val)+" is "+str(list.index(val))+"."
    return "The value does not exist."

print(searchList(l2, 77))

The value does not exist.

## List - Operations, Functions and Strings

In [1]:
p = [10,20,30]
q = [40,50,60]
r = p + q
print(r)

[10, 20, 30, 40, 50, 60]

In [3]:
p = [10,20,30]
p = p * 4
print(p)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [4]:
l1 = [10,20,30,40,50,60,70,80]
print(len(l1))

8

In [9]:
print("max:",max(l1))
print("min:",min(l1))
print("sum:",sum(l1))
print("Avg:",(sum(l1)/len(l1)))

max: 80
min: 10
sum: 360
Avg: 45.0

In [10]:
total = 0
count = 0
while True:
    inp = input("Enter the number:")
    if inp == 'exit':
        break
    value = float(inp)
    total = total + value
    count = count + 1
    average = total/count

print("Average:",average)

Average: 20.0

In [11]:
l1 = list()
while True:
    inp = input("Enter the number:")
    if inp == 'exit':
        break
    value = float(inp)
    l1.append(value)

average = sum(l1)/len(l1)
print("Average:",average)

Average: 25.0

In [12]:
str1 = 'Python'
str2 = list(str1)
print(str2)

['P', 'y', 't', 'h', 'o', 'n']

In [13]:
str1 = "Python is the best programming languge"
str2 = str1.split()
print(str2)

['Python', 'is', 'the', 'best', 'programming', 'languge']

In [15]:
str1 = 'Python1-Python2-Python3-Python4'
delimeter = '-'
str2 = str1.split(delimeter)
print(str2)
print(delimeter.join(str2))

['Python1', 'Python2', 'Python3', 'Python4']
Python1-Python2-Python3-Python4

## List - Finishing the List Section

- List vs. Array
- Time and Space Complexity of List

### Similarities between List and Array
- Both data structures are mutable.
- Both can be indexed and iterated through loops.
- Both can be sliced

In [1]:
import numpy as np

In [2]:
a1 = np.array([1,2,3,4,5,6])
l1 = [1,2,3,4,5,6]

In [5]:
print(a1 / 2)

[0.5 1.  1.5 2.  2.5 3. ]

In [6]:
print(l1 / 2)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [7]:
a1 = np.array([1,2,3,4,5,6,'a'])
l1 = [1,2,3,4,5,6,'a']

print(a1)
print(l1)

['1' '2' '3' '4' '5' '6' 'a']
[1, 2, 3, 4, 5, 6, 'a']

<table style="width:100%">
  <tr>
    <th>Operation</th>
    <th>Time Complexity</th>
    <th>Space Complexity</th>
  </tr>
  <tr>
    <td>Creating a List</td>
    <td>O(1)</td>
    <td>O(n)</td>
  </tr>
  <tr>
    <td>Inserting a value in a List</td>
    <td>O(1)/O(n)</td>
    <td>O(1)</td>
  </tr>
  <tr>
    <td>Traversing a given List</td>
    <td>O(n)</td>
    <td>O(1)</td>
  </tr>
  <tr>
    <td>Accessing a given cell</td>
    <td>O(1)</td>
    <td>O(1)</td>
  </tr>
  <tr>
    <td>Searching a given value</td>
    <td>O(n)</td>
    <td>O(1)</td>
  </tr>
  <tr>
    <td>Deleting a given value</td>
    <td>O(1)/O(n)</td>
    <td>O(1)</td>
  </tr>
</table>